:root {
  --primary: #0070f3;
  --secondary: #ff0080;

  --background: #111;
  --text-color: #fff;

  --sidebar-background: #1a1a1a;
  --sidebar-nav-item-active: #262626;
  --sidebar-nav-item-hover: color-mix(in srgb, var(--sidebar-nav-item-active) 50%, transparent);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--text-color);
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
  background-color: var(--background);
}