:root {

    --wpm-primary: #1B57F2;
    --wpm-client: #FF02A9;
    --wpm-server: #FF5D02;
    --wpm-plugin: #1BC300;

    --wpe-env-text: #264856;
    --wpe-env-border: #10CAD4;
    --wpe-env-production-bg: #9EEAEE;
    --wpe-env-staging-bg: #E7F9FB;
    --wpe-env-development-bg: #ffffff;


    --sidebar-width: 200px;

    @media (min-width: 992px) {
        --sidebar-width: 250px;
    }
}


.badge.wpe-env{
    color: var(--wpe-env-text);
    border: 1px solid var(--wpe-env-border);
    &--production{
        background-color: var(--wpe-env-production-bg);
    }
    &--staging{
        background-color: var(--wpe-env-staging-bg);
    }
    &--development{
        background-color: var(--wpe-env-development-bg);
    }
}

html,
body,
#app {
    height: 100%;
}

.row {
    --bs-gutter-x: 1rem;
}

hr {
    margin: .75rem 0;
}

hr[data-content] {
    overflow: visible;
    position: relative;

    &:before {
        background: var(--bs-body-bg);
        content: attr(data-content);
        font-size: 12px;
        font-weight: 700;
        left: 50%;
        padding: 0 .5rem;
        position: absolute;
        line-height: 1;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}