@import './base.scss';

$bootstrap-icons-font-dir: '/node_modules/bootstrap-icons/font/fonts';

@import '/node_modules/bootstrap-icons/font/bootstrap-icons.scss';

i.bi{
    display: flex;
    line-height: 1;
    font-size: 19px;
    position: relative;
}

a{
    color: inherit;
    text-decoration: none;
}